h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0e0f12;
  color: white;
  margin: 0 ato;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/*-------------HEADER--------------------*/
.header {
  max-width: 1920px;
  padding: 22px 252px;
  margin: 0 auto;
}

.header-logo {
  font-weight: 700;
  font-weight: bold;
  font-size: 20px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  gap: 28px;
  font-weight: 500;
  font-size: 18px;
}
/*-----------------HERO--------------*/
.hero {
  max-width: 1920px;
  height: 596px;
  padding: 144px 378px 116px;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  text-align: left;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: -0.02em;
  line-height: normal;
  margin-bottom: 42px;
}

.hero-text-top {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 42px;
}

.hero-text-midle {
  max-width: 1170px;
  font-size: 14.5px;
  margin-bottom: 20px;
}

.hero-text-bottom {
  font-size: 14.5px;
  margin-bottom: 42px;
}

.hero-btn {
  padding: 10px 18px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 230px;
  height: 52px;
  border-radius: 12px;
  background-color: #fddd14;
  color: #0e0f12;
  border: none;
  text-transform: uppercase;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #9b8811;
}

.hero-span {
  color: #4dd3fd;
}
/*---------------CONCERTS---------------*/
.concerts {
  display: flex;
  justify-content: center;
  padding: 68px 0;
}

.concerts-wrapper {
  width: 1170px;
  height: 392px;
  border-radius: 10px;
}

.concert-title {
  font-size: 24px;
  color: white;
  font-weight: 400;
  margin: 0;
  height: 76px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  background-color: #1b1e29;
  border-bottom: 1px solid #333;
}

.concerts table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

.concerts th,
.concerts td {
  border-bottom: 1px solid #333;
  padding: 0 14px;
  text-align: left;
}

.concerts thead tr {
  background-color: #1b1e29;
  height: 76px;
  font-size: 14px;
}

.concerts tbody tr {
  background-color: #151821;
  height: 56px;
}

.concerts tbody tr:nth-child(even) {
  background-color: #151821;
}

.btn-secondary {
  font-weight: 700;
  font-size: 10px;
  width: 145px;
  height: 39px;
  border-radius: 10px;
  border: none;
  background-color: #f82c56;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgba(248, 44, 86, 0.5);
}

/*-----------GALLERY-----------*/
.gallery {
  padding: 68px 0;
  margin: 0 auto;
  text-align: center;
}

.gallery-title {
  font-size: 34px;
  margin-bottom: 54px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  gap: 96px;
  text-align: left;
}

.gallery-item {
  background-color: #151821;
  border-radius: 10px;
  width: 298px;
  height: 262px;
  display: flex;
  flex-direction: column;
}

.gallery-item-title {
  font-weight: 400;
  margin-left: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}
/*--------------ABOUT-US-------------------*/
.about {
  padding: 75px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #121c21, #1e1116);
}

.about-container {
  width: 1170px;
}

.about-title {
  font-size: 34px;
  margin-bottom: 40px;
}

.about-title {
  font-size: 34px;
  margin-bottom: 40px;
  text-align: left;
}

.about-content {
  display: flex;
  gap: 0;
}

.about-text {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.about-text-buttom {
  width: 1170px;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-top: 30px;
}
/*-----------------CONTACT--------------*/
.contact {
  padding: 75px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(45deg, #1e1116, #121c21);
}

.contact-title {
  font-size: 34px;
  margin-bottom: 30px;
}

.contact-text {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.block {
  display: flex;
  margin: 0 auto;
}

.contact-form {
  width: 562px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.input {
  background-color: #151821;
  border: 1px solid #333;
  width: 270px;
  height: 44px;
  border-radius: 10px;
  color: #fff;
  padding: 0 10px;
}

.textarea {
  background-color: #151821;
  border: 1px solid #333;
  border-radius: 10px;
  width: 562px;
  height: 82px;
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  padding: 10px;
}

.input:focus,
.textarea:focus {
  border-color: #f82c56;
  outline: none;
  box-shadow: 0 0 6px rgba(248, 44, 86, 0.5);
}

.btn {
  width: 158px;
  height: 48px;
  border-radius: 10px;
  background-color: #f82c56;
  color: white;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.btn:hover,
.btn:focus {
  background-color: rgba(248, 44, 86, 0.5);
}

.right-column {
  padding: 25px 20px;
  background-color: #151821;
  border-radius: 10px;
  border: #333;
  width: 560px;
}

.right-column-title {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 20px;
}
/*------------------FOOTER---------------*/
.footer {
  height: 177px;
  width: 1170px;
  margin: 0 auto;
  padding: 45px 0;
}

.footer-top-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  cursor: pointer;
}

.footer-list {
  display: flex;
  gap: 6px;
}

.footer-list-bottom {
  display: flex;
  gap: 6px;
}
